<h1>Ввод данных</h1>
<p>Бухов А.К. ИУ6-35Б, Билет №20</p>
<p>Задание: Дан массив чисел arr_1. Найти частное от деления минимального элемента массива на максимальный. Поместить его на место последнего элемента массива с индексом, кратным 7.</p>
<h3>Введите цепочку целых чисел (для выполнения условия необходимо ввести как минимум 7 чисел):</h3>
<h4>При наличии в последовательности различных символов, отличных от целых чисел, они будут игнорироваться!</h4>
<%= form_tag("/calc/output", :method => "get") do %>
   <%= label_tag("Ввод последовательности:") %>
   <%= text_field_tag(:v, value='1 2 3 25 4 5 11 13 7') %>
   <%= submit_tag("Результат обработки") %>
<% end %>
