<h1>Результат</h1>
<% if @result1 %>
<p>Исходные данные: <%= @start %></p>
<p>Обработанный массив: <%= @result1 %></p>
<% else %>
<p><%= @result %></p>
<%end%>
<%= link_to "Повторить вычисления", :root %>
